{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load humanize %}

{% block css %}
<link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" media="screen" rel="stylesheet" type="text/css">
<!--https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css-->
<style>
/* must be capitalized */
input {
  text-transform: uppercase;
}
.list-group-item{
 min-height:130px;
}
.list-group {
 box-shadow: none !important;
}
.remove_label {
  float:right;
  border-radius: 3px;
  padding-left:10px !important;
  padding-right:10px !important;
}
</style>
{% endblock %}

{% block content %}
{% include 'main/message.html' %}

<div class="row">

    <!-- Container collection meta -->
    <div class="header" style="padding-bottom:20px">
        <h3 class="title" style="padding-bottom:20px">
        <a href="{% url 'report_collection_details' collection.id %}"><i class="fa fa-chevron-left"></i> {{ collection.name }}</a></h3>
    </div>

    <div class="col-md-4" style="padding-bottom:50px">
</div>


<div class="row" style="padding-top:50px">

    <div class="col-md-12">
        <p id='message_box' style="display:none" class='alert alert-info'></p>

<!-- Tabs -->
<ul class="nav nav-tabs tabs-3 blue" role="tablist">
    <li class="nav-item">
        {% if labels %}
        <a class="nav-link active" data-toggle="tab" href="#existing" role="tab">Select from Existing</a>
        {% endif %}
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#newlabel" role="tab">Add New Label</a>
    </li>
</ul>

<!-- Panels -->
<div class="tab-content card">

    <!--Select from Existing -->
    {% if labels %}
    <div class="tab-pane fade in active" id="existing" role="tabpanel">
        <br>

        <h2 style="padding-bottom:20px">Select from Existing</h2>

                   <table id="labels" class="display" cellspacing="0" width="100%">
                       <thead class="thead">
                           <tr>
                               <th>Label Name</th>
                               <th>Options</th>
                               <th></th>
                           </tr>
                       </thead>
 
                               <tbody>
                               {% for label in labels %}
                                   <tr>
                                       <td>{{ label.name }}</td>
                                       <td>{{ label.label }}</td> 
                                       <td><a class="add_existing" data-url="{% url 'create_label' collection.id label.id %}"><button class="btn btn-success btn-sm">Add Label</button></a>
                                   </tr>
                                {% endfor %}
                               </tbody>
                    </table>


    </div>
    {% endif %}

    <!--Create new -->
    <div class="tab-pane fade" id="newlabel" role="tabpanel">
        <br>

        <h2>Add New Label</h2>

        <!-- Here the user has the option to add a new label -->
        <form action="{% url 'create_label' collection.id %}" method="POST">

            {% csrf_token %}

            <div class="md-form input-group">
                <input type="text" class="form-control" name="annotation_name" placeholder="DISEASE_PRESENT" aria-describedby="labelname">
                <span class="input-group-addon" id="labelname">_label</span>
            </div>

            <ul class="list-group" id="label_list">
                <li class="list-group-item">
                    <input type="text" class="form-control" name="annotation_label_1" placeholder="PRESENT">
                    <button type='button' class="remove_label btn btn-danger btn-sm"><i class="fa fa-close"></i></button>
                </li>
            </ul>
            <button type='button' id="add_label" style='padding-left:10px;padding-right:10px' class="btn btn-default btn-sm"><i class='fa fa-plus'></i></button>

            <div class="text-xs-center">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>

    </div>
    <!--/.Panel 2-->

</div>

    </div>
</div>


{% endblock %}
{% block scripts %}
<script src="{% static "js/cookie-token.js" %}"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script>
$(document).ready(function(){

   $("#labels").DataTable();

   // prevent spaces in inputs
   $('input').keypress(function( e ) {
      if(e.which === 32) 
        return false;
   });

   // Add a row for a new label when the user clicks
   $('#add_label').click(function(){
       var number = 1 + Math.floor(Math.random() * 10000);
       var template = '<li class="list-group-item"><input type="text" class="form-control" name="annotation_label_' + number + '" placeholder="PRESENT"><button type="button" class="remove_label btn btn-danger btn-sm"><i class="fa fa-close"></i></button></li>'
       $("#label_list").append(template)  
   })

   // When a user clicks a label, it will be removed
   $('.remove_label').click(function(){
       $(this).parent().remove();  
   })


   // Create label with ajax, success will disabled/change text of button
   $('.add_existing').click(function(){
       var url = $(this).attr('data-url')
       var button = this;
   
        $.ajax({
            url : url, // the endpoint
            type : "POST", // http method
            
            // handle a successful response
            success : function(json) {
                console.log(json); // log the returned json to the console
                console.log("success"); // another sanity check
                $(button).parent().parent().remove();
                $('#message_box').text(json.result);
                $('#message_box').show();
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                     console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
         });

   })

        //var annotations = JSON.stringify($("#update_annotation").serializeArray())

})
</script>
{% endblock %}
