{% extends "containers/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block image_content %}
<div class="row">

    <!-- Meta data about container-->
    <div class="col-md-12">
        <div class="card" style="padding:20px">
            <div class="header" style="padding-bottom:50px">
                <h2 class="title">{{ container.collection.owner }}/{{ container.name }}</h2>
                <p>Part of the <a href="{% url 'container_collection_details' container.collection.id %}">{{ container.collection.name }}</a> collection</p>
                <h3>
                     <span class="icon-controls" style="position:relative;top:-70px">

                         <!-- TODO: download here should be function to zip up, or clone-->
                         {% if container.image %}
                         <a href="{{ container.image.url }}"><i class="fa fa-download"></i></a>
                         {% endif %}
                         <a href=""><i class="fa fa-eye"></i></a>
                         <a href=""><i class="fa fa-share"></i></a>
                     </span>
                </h3>
            </div>
        </div>
    </div>

    <!-- controls, etc-->
    <div class="row" style="margin-bottom:0px">
        <div class="col-md-12">
            <div class="card">
            <!-- TODO: this spec needs to be somekind of "draft" with a build button, so the user knows how to create versions-->
            <a href="{% url 'edit_container_spec' container.collection.id container.id %}"><button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Edit Container Spec</button></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="content">
                <div data-background-color="white" data-active-color="danger">
                     <p style="padding-left:30px">{{ collection.description }}</p>
                </div>

                        <div class="card">
                            <div class="header">
                                <h4 class="title">Statistics</h4>
                                <p class="category">24 hour usage</p>
                            </div>
                            <div class="content">
                                <div id="chartHours" class="ct-chart"></div>
                                <div class="footer">
                                    <div class="chart-legend" style="margin-left:20px">
                                        <i class="fa fa-circle text-success"></i> Optimal
                                        <i class="fa fa-circle text-danger"></i> Error
                                        <i class="fa fa-circle text-warning"></i> Warning
                                    </div>
                                    <hr>
                                    <div class="stats" style="margin-left:20px">
                                        <i class="ti-reload"></i> Updated 3 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}
