    <div class="sidebar" data-background-color="white" data-active-color="danger" style="margin-top:60px">

    	<div class="sidebar-wrapper">

            <ul class="nav">
                <li class="active">
                    <a href="{% url 'containers' %}">
                        <i class="ti-package"></i>
                        <p>Containers</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ti-layers"></i>
                        <p>Workflows</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ti-view-list-alt"></i>
                        <p>Tools</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ti-comments-smiley"></i>
                        <p>Collaborators</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ti-settings"></i>
                        <p>Integrations</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ti-user"></i>
                        <p>Profile</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ti-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>
