{% extends "main/base.html" %}
{% load staticfiles %}
{% block head %}
<style>
.card {
  cursor: pointer;
}
</style>
{% endblock %}
{% block content %}

            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <h1>Developer Team</h1>
                            <h3>Hello! Please reach out if you have questions or would like to contribute.</h3>

			<div style="margin-top:50px">

			    <div class="card" id="vcard">
				<div class="card-block">
				    <h4 class="card-title">Vanessa Sochat</h4>
				    <p class="card-text">Research Software Engineer for Stanford Medicine</p>
                      		    <p class="card-text">
		                            <a target="_blank" href="https://vsoch.github.io/"><i class="fa fa-home"></i></a>
		                            <a target="_blank" href="http://www.twitter.com/vsoch"><i class="fa fa-twitter"></i></a>
		                            <a target="_blank" href="http://www.github.com/vsoch"><i class="fa fa-github"></i></a>
                                    </p>
				</div>
			    </div>


			    <div class="card" id="ccard">
				<div class="card-block">
				    <h4 class="card-title">Curt Langlotz</h4>
				    <p class="card-text">Radiologist in Stanford Medicine</p>
                      		    <p class="card-text">
		                            <a target="_blank" href="https://langlotzlab.stanford.edu"><i class="fa fa-home"></i></a>
                                            <a target="_blank" href="http://www.twitter.com/curtlanglotz"><i class="fa fa-twitter"></i></a>
                                    </p>
				</div>
			    </div>


			    <div class="card" id="mcard">
				<div class="card-block">
				    <h4 class="card-title">Matt Lungren</h4>
				    <p class="card-text">Radiologist in Stanford Medicine</p>
                      		    <p class="card-text">
		                            <a target="_blank" href="https://langlotzlab.stanford.edu"><i class="fa fa-home"></i></a>
                                            <a target="_blank" href="https://twitter.com/mattlungrenMD"><i class="fa fa-twitter"></i></a>
                                    </p>
				</div>
			    </div>


			</div>

               
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
    $("#vcard").click(function(){
        document.location = 'https://vsoch.github.io'
    })
    $("#ccard").click(function(){
        document.location = 'https://langlotzlab.stanford.edu'
    })
    $("#mcard").click(function(){
        document.location = 'https://langlotzlab.stanford.edu'
    })
})
</script>
{% endblock %}
