{% extends "main/base.html" %}
{% load staticfiles %}
{% block head %}
{% endblock %}
{% block content %}

        <div id="fh5co-team">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <h2 class="section-lead text-center">Developer Team</h2>
                            <p class="text-center">Hello! Please reach out if you have questions or would like to contribute.</p>
                            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">
                                <figure>
                                <img src="" alt="" class="img-responsive">
                                </figure>

                                <h3>Gregory Kurtzer</h3>
                                <p>HPC systems architect focusing on software development and responsible for creating OSS projects like: Centos, Warewulf, Caos, and most recently Singularity.</p>

                                <ul class="fh5co-social">
                                    <li><a href="https://gmkurtzer.github.io/"><i class="icon-home"></i></a></li>
                                    <li><a href="https://github.com/gmkurtzer"><i class="icon-github"></i></a></li>
                                </ul>     


                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">
                                <figure>
                                <img src="" alt="" class="img-responsive">
                                </figure>

                                <h3>Vanessa Sochat</h3>
                                <p>Research Software Engineer for Stanford Research Computing and Stanford Medicine</p>
                                <ul class="fh5co-social">
                                    <li><a href="https://vsoch.github.io/"><i class="icon-home"></i></a></li>
                                    <li><a href="http://www.twitter.com/vsoch"><i class="icon-twitter"></i></a></li>
                                    <li><a href="http://www.github.com/vsoch"><i class="icon-github"></i></a></li>
                                </ul>     
                            </div>
                            <div class="clearfix visible-sm-block visible-xs-block"></div>
                            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">
                                <figure>
                                <img src="" alt="" class="img-responsive">
                                </figure>

                                <h3>Ruth Marinshaw</h3>
                                <p>CTO of Research Computing at Stanford University </p>

                                <ul class="fh5co-social">
                                    <li><a href="https://srcc.stanford.edu/about/people"><i class="icon-home"></i></a></li>
                                </ul>     

                            </div>
               
                            <!--
                            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">
                                <figure>
                                <img src="" alt="" class="img-responsive">
                                </figure>
                                <h3>Someone Else</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                <ul class="fh5co-social">
                                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                                    <li><a href="#"><i class="icon-github"></i></a></li>
                                </ul>     
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
