{% extends "main/base.html" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="massive" style="float:right"><p style='font-weight:800'><span style='color:lightsalmon'>What</span>IsIt</p>
    <div class="lead">Report Annotation Tool</div>
    <hr>
</div>

<div class="row" style="margin-left:20px">
    <div class="col-md-10">
    </div>
</div>

<div class="row" style="margin-left:20px">
    <div class="col-md-2" style="margin-top:10px">
        <h3>What is it?</h3>
        <br><br>
    </div>
    <div class="col-md-10">
    <div style="margin-top:30px;line-height:1.5em">
<p class="lead">WhatIsIt is an annotation tool for experts to label radiology reports. It is an effort toward collaborative annotation to produce publicly available datasets for research. WhatIsIt will (eventually) allow for a combination of human- and algorithm- derived annotations of reports. This work is being done by the <a href="http://langlotzlab.stanford.edu" target="_blank">Langlotzlab</a> at Stanford University.</p>
    </div>
</div>
<hr>
{% endblock %}
