      <!-- Sidebar -->
      <section id='sidebar'>
        <i class='icon-align-justify icon-large' id='toggle'></i>

        <ul id='dock'>
          <p style='font-weight:800;margin-top:10px'><span style='color:lightsalmon;'>What</span>IsIt</p>

          <!-- User -->
          {% if active == "user" %}
          <li class='active launcher dropdown hover'>
          {% else %}
          <li class='launcher'>
          {% endif %}
            <i class="fa fa-user"></i>
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a> 
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
          </li>

          <!-- Reports -->
          {% if active == "reports" %}
          <li class='active launcher dropdown hover'>
          {% else %}
          <li class='launcher'>
          {% endif %}
            <i class="fa fa-book"></i>
            <a href="{% url 'report_collections' %}">Reports</a>
            <ul class='dropdown-menu'>
              <li class='dropdown-header'>Reports</li>
              <li>
                <a href="#">All Reports</a>
              </li>
              <li>
                <a href='/assessments/new'>Add Reports</a>
              </li>
            </ul>
          </li>

        </ul>
        <div data-toggle='tooltip' id='beaker' title='Made by Poldracklab'></div>
      </section>
