{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
{% include 'main/message.html' %}

<div class="card">
    <div class="card-block">

        <!--Header-->
        <div class="text-xs-center">
            <h3>Bulk Annotation</h3>
            <hr class="mt-2 mb-2">
        </div>

        <form action="{% url 'bulk_annotate' collection.id report_set.id %}" method="POST">

            {% csrf_token %}

            <!-- Annotations -->
            {% for name,allowed in allowed_annotations.items %}
               <h4 style="color:#d9534f">{{ name }}</h4>
               {% for allowed_annotation in allowed %}
               <fieldset class="form-group">
                   <input type="radio" name="whatisit||{{ name }}||{{ allowed_annotation }}" id="whatisit||{{ name }}||{{ allowed_annotation }}">
                   <label for="whatisit||{{ name }}||{{ allowed_annotation }}">{{ allowed_annotation }}</label>
               </fieldset>
               {% endfor %}
            {% endfor %}

            <!-- Apply to all reports? -->
           <fieldset class="form-group">
               <input type="checkbox" class="filled-in" name="unlabeled_only" id="unlabeled_only" checked>
               <label for="unlabeled_only">Apply to unlabeled only</label>
           </fieldset>

            <div class="text-xs-center">
                <button type="submit" class="btn btn-primary">Generate Set</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}
